<h3> Welcome back! <%=  current_user.get_name %></h3>
<div class="row">

  <div class="col-md-6 col-sm-12 col-xs-12">
    <p> We have total <%= @games.count %> games for your age <%= current_user.get_age %></p>
    <%= render partial: "quotes/new" %>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <%= render partial: "my_cart" %>
  </div>
</div>



